# Ignore added package file.
/vendor
/node_modules


# Ignore composer working files
composer.phar
composer.lock

# Ignore testing working files
tests/phpunit.xml

# Ignore config settings with sensative account creds
config.inc

# Ignore OSX system files
.DS_Store

# Ignore PHP Storm config files
.idea/
